extends layout

block content
	link(rel='stylesheet', href='../../styles/dropboxStyle.css')
	script(type='text/javascript', src='../../scripts/dropzone.js')
	div(id="droptable", class="fb-table").
		!{htmlFb}
	br
	//-
		div(id="dropzone", class="fb-dropzone").
			Drop files here
			<script type='text/javascript' src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
			<script>
				addDropZone('dropzone', function(files) { 
					$.post({ 
						url: '/upload/',
						data: files,
						success: function() {},
						//dataType: dataType
					}); 
				});
				addDropZone('droptable',function(){  });
			</script>
		br
	form#fileUpload(name='uploadForm', action='/upload', method='post', enctype="multipart/form-data")
		p
			input(id='file', type='file', name='file')
			input(type='submit', value='Upload')
