doctype html
html
	head
		title= title
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='http://getbootstrap.com/examples/signin/signin.css')
		block scripts
			script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
			script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
	body
		include layout_navBar
